@{
    ViewBag.Title = "ErreurEnvoi";
}

<h2>Page Introuvable</h2>
<p>Nous sommes désolés, la page que vous souhaitez consulter ne semble pas exister</p>
@Html.ActionLink("Retourner à l'accueil", "Accueil", "Home", null, null)
